.recharge-subscription-logo strong:before {
    background-image: url('../images/RechargeLogo.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    width: 50px;
    height: 44px;
    content: '';
    display: inline-block;
    vertical-align: middle;
}