<div class="subscription_container">
    <input type="hidden" id="subscription_frequency" name="recurring_metadata[frequency]" value="" 
    pattern="[0-9]" />
    <input type="hidden" id="subscription_unit" name="recurring_metadata[unit]" value="" />
    <input type="hidden" id="subscription_plan" name="purchase" value="" />
    <input type="hidden" id="discount_type" name="discount_type" value="" />
    <input type="hidden" id="discount_amount" name="discount_amount" value="" />
</div>