<?php
$customer_portal = $this->_getCustomerPortal();
?>

<?php if($customer_portal): ?>
<div class="box box-information">
    <div class="box-title">
        <h3>Subscriptions</h3>
    </div>
    <div class="box-content">
      <a href=<?php echo $customer_portal ?> target="_blank">Manage Subscriptions</a>
    </div>
</div>
<?php endif; ?>